
@{
    var grid = Html.DevExpress().GridView(settings => {
                settings.Name = "EmployeeGridView";
                settings.CallbackRouteValues = new { Controller = "Employee", Action = "EmployeeGridViewPartial" };
                settings.ControlStyle.Font.Size = 10;
		        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Employee", Action = "EmployeeGridViewPartialAddNew" };
                settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Employee", Action = "EmployeeGridViewPartialUpdate" };
                settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Employee", Action = "EmployeeGridViewPartialDelete" };
                settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm; //EditFormAndDisplayRow;
                settings.SettingsPopup.EditForm.Modal = true;
                settings.SettingsPopup.EditForm.Width = 1000;
                settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
                settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
                settings.SettingsPopup.EditForm.ResizingMode = ResizingMode.Postponed;
                //settings.SettingsPopup.EditForm.AllowResize = false;

                settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;
                settings.CommandColumn.Width = Unit.Pixel(120);
        
                settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;

                settings.SettingsText.PopupEditFormCaption = "Create / Edit Employee";
        
                settings.SettingsBehavior.ConfirmDelete = true;
                settings.Width = Unit.Percentage(90);
                settings.Height = Unit.Percentage(90);

                settings.SettingsBehavior.AllowSelectByRowClick = true;
                settings.Styles.AlternatingRow.BackColor = System.Drawing.ColorTranslator.FromHtml("#D0D0DE"); //"#f3f3f3"
                settings.Styles.SelectedRow.BackColor = System.Drawing.Color.LightCyan;
        
                settings.Caption = "Employee List";
        
		        settings.CommandColumn.Visible = true;
                //settings.CommandColumn.ShowNewButton = false;
                settings.CommandColumn.ShowDeleteButton = true;
                settings.CommandColumn.ShowEditButton = true;

                // Single New botton on command header
                settings.CommandColumn.SetHeaderTemplateContent(c =>
                {
                    Html.DevExpress().HyperLink(hyperLinkSettings =>
                    {
                        hyperLinkSettings.Name = "link_" + settings.Name;
                        hyperLinkSettings.Properties.Text = "New";
                        hyperLinkSettings.NavigateUrl = "javascript:void(0);";
                        hyperLinkSettings.Properties.ClientSideEvents.Click = string.Format(@"
                            function(s, e)
                            {{
                                {0}.AddNewRow();
                            }}
                        ", settings.Name);
                    }).Render();
                });
        
		        settings.KeyFieldName = "EmployeeID";

                settings.SettingsSearchPanel.Visible = true;
                settings.SettingsSearchPanel.ShowClearButton = true;

                settings.Settings.ShowHeaderFilterButton = true;

                settings.SettingsPager.Visible = true;
                settings.Settings.ShowGroupPanel = false;
		        settings.Settings.ShowFilterRow = false;
		        settings.SettingsBehavior.AllowSelectByRowClick = true;

                settings.Columns.Add("EmployeeNo").EditFormSettings.VisibleIndex = 1;
                        
                settings.Columns.Add("FirstName").EditFormSettings.VisibleIndex = 2;
                settings.Columns.Add("LastName").EditFormSettings.VisibleIndex = 3;
                settings.Columns.Add(column =>
                {
                    column.FieldName = "DateOfBirth";
                    column.EditFormSettings.VisibleIndex = 4;
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
                });

                settings.Columns.Add("FamilyContactPersonName");
                settings.Columns.Add("FamilyContactPersonNo");
                settings.Columns.Add("ContactNo");
                settings.Columns.Add("BankName");
                settings.Columns.Add("BankAccountNo");
        
                settings.Columns.Add(column =>
                {
                    column.FieldName = "EmployeeNationality";
                    column.Caption = "Nationality";

                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.ValueType = typeof(SmartTaxiSystem.Enums.Nationality);
                    comboBoxProperties.Items.AddRange(typeof(SmartTaxiSystem.Enums.Nationality).GetEnumValues());
                });
                settings.Columns.Add("Address").ColumnType = MVCxGridViewColumnType.Memo;
                settings.Columns.Add(column =>
                {
                    column.FieldName = "EmployeeGender";
                    column.Caption = "Gender";

                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.ValueType = typeof(SmartTaxiSystem.Enums.Gender);
                    comboBoxProperties.Items.AddRange(typeof(SmartTaxiSystem.Enums.Gender).GetEnumValues());
                });
                settings.Columns.Add(column =>
                {
                    column.FieldName = "EmployeeMaritalStatus";
                    column.Caption = "Marital Status";

                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.ValueType = typeof(SmartTaxiSystem.Enums.MaritalStatus);
                    comboBoxProperties.Items.AddRange(typeof(SmartTaxiSystem.Enums.MaritalStatus).GetEnumValues());
                });

                settings.Columns.Add(column =>
                {
                    column.FieldName = "EmployeeDepartmentID";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.EmployeeDepartment.GetEmployeeDepartments();
                    comboBoxProperties.TextField = "DepartmentName";
                    comboBoxProperties.ValueField = "EmployeeDepartmentID";
                    comboBoxProperties.ValueType = typeof(int);
                });
        
                settings.Columns.Add(column =>
                {
                    column.FieldName = "EmployeeActiveStatus";
                    column.Caption = "Active Status";
            
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.ValueType = typeof(SmartTaxiSystem.Enums.ActiveStatus);
                    comboBoxProperties.Items.AddRange(typeof(SmartTaxiSystem.Enums.ActiveStatus).GetEnumValues());
                });
                settings.Columns.Add("LoginId");
                settings.Columns.Add("Password");
                //settings.Columns.Add(column =>
                //{
                //    column.Name = "password";
                //    column.FieldName = "password";
                //    column.Caption = "password";
                //    column.Visible = false;
                //    column.EditFormSettings.Visible = DefaultBoolean.True;
                //    //column.EditFormSettings.VisibleIndex = 10;
                //    column.ColumnType = MVCxGridViewColumnType.TextBox;
                //    var tbSettings = column.PropertiesEdit as TextBoxProperties;
                //    tbSettings.Password = true;
                //});
                settings.Columns.Add(column =>
                {
                    column.FieldName = "RoleID";
                    column.Caption = "Role";

                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.Role.GetRoles();
                    comboBoxProperties.TextField = "Title";
                    comboBoxProperties.ValueField = "RoleID";
                    comboBoxProperties.ValueType = typeof(int);
                });
                settings.Columns.Add(column =>
                {
                    column.FieldName = "EmployeeLoginType";
                    column.Caption = "Login Type";

                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.ValueType = typeof(SmartTaxiSystem.Enums.LoginType);
                    comboBoxProperties.Items.AddRange(typeof(SmartTaxiSystem.Enums.LoginType).GetEnumValues());
                });
                settings.Columns.Add(column =>
                {
                    column.FieldName = "OwnerID";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.Owner.GetOwners();
                    comboBoxProperties.TextField = "OwnerName";
                    comboBoxProperties.ValueField = "OwnerID";
                    comboBoxProperties.ValueType = typeof(int);
                });
        
                settings.Columns.Add("IDCardDoc");
                settings.Columns.Add("PassportDoc");
                settings.Columns.Add("LicenseDoc"); 
                settings.Columns.Add("LicenseNo");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "LicenseExpiryDate";
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
                });
                settings.Columns.Add("PhotoDoc");
                //settings.Columns.Add(c =>
                //{
                //    c.FieldName = "photo";
                //    c.ColumnType = MVCxGridViewColumnType.BinaryImage;
                //    var properties = (MVCxBinaryImageEditProperties)c.PropertiesEdit;
                //    properties.ImageHeight = 100;
                //    properties.ImageWidth = 90;
                //    properties.EnableServerResize = true;
                //    properties.ImageSizeMode = ImageSizeMode.FitProportional;
                //    properties.CallbackRouteValues = new { Action = "PhotoUpload", Controller = "Employee" };
                //    properties.EditingSettings.Enabled = true;
                //    properties.EditingSettings.UploadSettings.UploadValidationSettings.MaxFileSize = 4194304;
                //});

                foreach (GridViewDataColumn column in settings.Columns)
                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

                settings.SettingsPager.Position = PagerPosition.Bottom;
                settings.SettingsPager.PageSizeItemSettings.Visible = true;
                settings.SettingsPager.FirstPageButton.Visible = true;
                settings.SettingsPager.LastPageButton.Visible = true;
                settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()