﻿
@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }
@model SmartTaxiSystem.Models.Employee

@{
    ViewBag.Title = "Login";
}

<div class="accountHeader">
    <h2>Log In</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DevExpress().Label(settings =>
{
    settings.Name = "LoginIdLabel";
    settings.Text = "Login ID";
    settings.AssociatedControlName = "LoginId";
}).GetHtml()

    <div class="form-field">
        @Html.EditorFor(m => m.LoginId)
        @Html.ValidationMessageFor(m => m.LoginId)
    </div>

    @Html.DevExpress().Label(settings =>
{
    settings.Name = "PasswordLabel";
    settings.Text = "Password";
    settings.AssociatedControlName = "Password";
}).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    @Html.DevExpress().Button(settings =>
{
    settings.Name = "Button";
    settings.Text = "Log On";
    settings.Width = 170;
    settings.UseSubmitBehavior = true;
}).GetHtml()
}