@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "VehicleGridView";
        settings.CallbackRouteValues = new { Controller = "Vehicle", Action = "VehicleGridViewPartial" };
        settings.ControlStyle.Font.Size = 10;
		settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Vehicle", Action = "VehicleGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Vehicle", Action = "VehicleGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Vehicle", Action = "VehicleGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;//EditFormAndDisplayRow

        settings.SettingsPopup.EditForm.Modal = true;
        settings.SettingsPopup.EditForm.Width = 1000;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.ResizingMode = ResizingMode.Postponed;
        //settings.SettingsPopup.EditForm.AllowResize = false;

        settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;
        settings.CommandColumn.Width = Unit.Pixel(120);

        settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;

        settings.SettingsText.PopupEditFormCaption = "Create / Edit Vehicle";
        
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = Unit.Percentage(100);
        settings.Height = Unit.Percentage(90);

        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.ColorTranslator.FromHtml("#D0D0DE"); //"#f3f3f3"
        settings.Styles.SelectedRow.BackColor = System.Drawing.Color.LightCyan;

        settings.Caption = "Vehicle List";

		settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        // Single New botton on command header
        settings.CommandColumn.SetHeaderTemplateContent(c =>
        {
            Html.DevExpress().HyperLink(hyperLinkSettings =>
            {
                hyperLinkSettings.Name = "link_" + settings.Name;
                hyperLinkSettings.Properties.Text = "New";
                hyperLinkSettings.NavigateUrl = "javascript:void(0);";
                hyperLinkSettings.Properties.ClientSideEvents.Click = string.Format(@"
                            function(s, e)
                            {{
                                {0}.AddNewRow();
                            }}
                        ", settings.Name);
            }).Render();

        });
        settings.KeyFieldName = "VehicleID";

        settings.SettingsSearchPanel.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;
        settings.Settings.ShowHeaderFilterButton = true;

		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = false;
		settings.Settings.ShowFilterRow = false;
		settings.SettingsBehavior.AllowSelectByRowClick = true;

				//settings.Columns.Add("ActiveStatus");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "ActiveStatus";
                    column.Caption = "Active Status";

                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.ValueType = typeof(SmartTaxiSystem.Enums.VehicleActiveStatus);
                    comboBoxProperties.Items.AddRange(typeof(SmartTaxiSystem.Enums.VehicleActiveStatus).GetEnumValues());
                });
				//.Columns.Add("ColorID");
				settings.Columns.Add("DeviceImeiNoID").Caption = "IMEI No.";
                settings.Columns.Add("MeterSerialNoID").Caption = "Meter No.";
                settings.Columns.Add("ModelYear").Caption = "Model Year";
				//settings.Columns.Add("PlateNo");
                settings.Columns.Add("VehicleNo").Caption = "Vehicle No.";
                settings.Columns.Add("VehicleChaseNo").Caption = "Chasis No.";
                settings.Columns.Add("VehicleEngineNo").Caption = "Engine No.";
				//settings.Columns.Add("VehicleMakeID");
				//settings.Columns.Add("VehicleModelID");
				//settings.Columns.Add("VehicleTypeID");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "VehicleMakeID";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.VehicleMake.GetVehicleMakes();
                    comboBoxProperties.TextField = "Descr";
                    comboBoxProperties.ValueField = "VehicleMakeID";
                    comboBoxProperties.ValueType = typeof(int);
                });
                settings.Columns.Add(column =>
                {
                    column.FieldName = "VehicleModelID";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.VehicleModel.GetVehicleModels();
                    comboBoxProperties.TextField = "Descr";
                    comboBoxProperties.ValueField = "VehicleModelID";
                    comboBoxProperties.ValueType = typeof(int);
                });
                settings.Columns.Add(column =>
                {
                    column.FieldName = "VehicleTypeID";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.VehicleType.GetVehicleTypes();
                    comboBoxProperties.TextField = "VehicleTypeName";
                    comboBoxProperties.ValueField = "VehicleTypeID";
                    comboBoxProperties.ValueType = typeof(int);
                });
                settings.Columns.Add(column =>
                {
                    column.FieldName = "OwnerID";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = SmartTaxiSystem.Models.Owner.GetOwners();
                    comboBoxProperties.TextField = "OwnerName";
                    comboBoxProperties.ValueField = "OwnerID";
                    comboBoxProperties.ValueType = typeof(int);
                });
        
				//settings.Columns.Add("OwnerID");
                //settings.Columns.Add("VehicleNature");
                //settings.Columns.Add("MaxTankCapacity");
                //settings.Columns.Add("MaxVolt");
                //settings.Columns.Add("VehicleContactNo");
                settings.Columns.Add("UpdateDetailsUpdatedBy").Caption = "Updated By";

                settings.Columns.Add(column =>
                {
                    column.FieldName = "UpdateDetailsUpdatedTime";
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    (column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
                });
                //settings.Columns.Add("UpdateDetailsUpdatedTime");

                foreach (GridViewDataColumn column in settings.Columns)
                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

                settings.SettingsPager.Position = PagerPosition.Bottom;
                settings.SettingsPager.PageSizeItemSettings.Visible = true;
                settings.SettingsPager.FirstPageButton.Visible = true;
                settings.SettingsPager.LastPageButton.Visible = true;
                settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()