﻿
@{  
    ViewBag.Title = "Live Tracking";
  // Layout = "~/Views/Shared/_mainLayout.cshtml"; 
 }   
 <br /> 

<b>Vehicles:</b>@Html.DevExpress().ComboBox(
                    settings => {
                        settings.Name = "vehicles";
                        settings.Width = 180;
                        settings.SelectedIndex = 0;
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.TextField = "VehicleNo";
                        settings.Properties.ValueField = "VehicleNo";
                        settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e){searchVehicle();}";
                     
                    }
                ).BindList(ViewData["liveTrackingVehicles"]).GetHtml() 

       
 <div id="map-canvas" style="width: 640px; height: 480px;">  
 </div>  
