@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "VehicleMakeGridView";
        settings.CallbackRouteValues = new { Controller = "VehicleMake", Action = "VehicleMakeGridViewPartial" };
        settings.ControlStyle.Font.Size = 10;
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "VehicleMake", Action = "VehicleMakeGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "VehicleMake", Action = "VehicleMakeGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "VehicleMake", Action = "VehicleMakeGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm; //EditFormAndDisplayRow;
        settings.SettingsPopup.EditForm.Modal = true;
        settings.SettingsPopup.EditForm.Width = 500;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;

        settings.SettingsText.PopupEditFormCaption = "Create / Edit Vehicle Make";
        //settings.SettingsPopup.EditForm.ResizingMode = ResizingMode.Postponed;
        //settings.SettingsPopup.EditForm.AllowResize = false;

        //settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;
        //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;

        settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;
        settings.CommandColumn.Width = Unit.Pixel(120);
        
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = Unit.Percentage(90);
        settings.Height = Unit.Percentage(90);

        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.ColorTranslator.FromHtml("#D0D0DE"); //"#f3f3f3"
        settings.Styles.SelectedRow.BackColor = System.Drawing.Color.LightCyan;
        
        settings.Caption = "Vehicle Make List";
        
        // Single New botton on command header
        settings.CommandColumn.SetHeaderTemplateContent(c =>
        {
            Html.DevExpress().HyperLink(hyperLinkSettings =>
            {
                hyperLinkSettings.Name = "link_" + settings.Name;
                hyperLinkSettings.Properties.Text = "New";
                hyperLinkSettings.NavigateUrl = "javascript:void(0);";
                hyperLinkSettings.Properties.ClientSideEvents.Click = string.Format(@"
                    function(s, e)
                    {{
                        {0}.AddNewRow();
                    }}
                ", settings.Name);
            }).Render();
        });

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        settings.KeyFieldName = "VehicleMakeID";

        settings.SettingsSearchPanel.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.Settings.ShowHeaderFilterButton = true;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        
        settings.Columns.Add(column =>
        {
            column.FieldName = "Descr";
        });

        // Check Box Filter in all grid columns
        foreach (GridViewDataColumn column in settings.Columns)
            column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };

        //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        //settings.Settings.VerticalScrollableHeight = 100;
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()