@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "CustomerGridView";
        settings.CallbackRouteValues = new { Controller = "Customer", Action = "CustomerGridViewPartial" };
        settings.ControlStyle.Font.Size = 10;
		settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Customer", Action = "CustomerGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Customer", Action = "CustomerGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Customer", Action = "CustomerGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;

        settings.SettingsPopup.EditForm.Modal = true;
        settings.SettingsPopup.EditForm.Width = 1000;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.ResizingMode = ResizingMode.Postponed;

        settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;
        settings.CommandColumn.Width = Unit.Pixel(120);

        settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;

        settings.SettingsText.PopupEditFormCaption = "Create / Edit Customer";
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = Unit.Percentage(100);
        settings.Height = Unit.Percentage(90);

        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.ColorTranslator.FromHtml("#D0D0DE"); //"#f3f3f3"
        settings.Styles.SelectedRow.BackColor = System.Drawing.Color.LightCyan;

        settings.Caption = "Customer List";
        
		settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        // Single New botton on command header
        settings.CommandColumn.SetHeaderTemplateContent(c =>
        {
            Html.DevExpress().HyperLink(hyperLinkSettings =>
            {
                hyperLinkSettings.Name = "link_" + settings.Name;
                hyperLinkSettings.Properties.Text = "New";
                hyperLinkSettings.NavigateUrl = "javascript:void(0);";
                hyperLinkSettings.Properties.ClientSideEvents.Click = string.Format(@"
                            function(s, e)
                            {{
                                {0}.AddNewRow();
                            }}
                        ", settings.Name);
            }).Render();

        });
        
		settings.KeyFieldName = "CustomerID";

        settings.SettingsSearchPanel.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;
        settings.Settings.ShowHeaderFilterButton = true;
        
		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = false;
		settings.Settings.ShowFilterRow = false;
		settings.SettingsBehavior.AllowSelectByRowClick = true;

                //settings.Columns.Add("AlternativeNo");
                //settings.Columns.Add("CorporateName");
                //settings.Columns.Add("CustomerType");
                //settings.Columns.Add("PartnerID");
                //settings.Columns.Add("PartnerMemberCardNo");
                //settings.Columns.Add("PickupMainAreaID");
                //settings.Columns.Add("PickupMainArea");
                //settings.Columns.Add("PickupSubAreaID");
                //settings.Columns.Add("PickupSubArea");
                //settings.Columns.Add("PickupAddress");
                settings.Columns.Add("CallerID");
                settings.Columns.Add("CustomerName");
                settings.Columns.Add("CustomerTypeID");
				settings.Columns.Add("CreatedBy");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "CreatedTime";
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    (column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
                });
                settings.Columns.Add("UpdateDetailsUpdatedBy");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "UpdateDetailsUpdatedTime";
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    (column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
                });

                foreach (GridViewDataColumn column in settings.Columns)
                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

                settings.SettingsPager.Position = PagerPosition.Bottom;
                settings.SettingsPager.PageSizeItemSettings.Visible = true;
                settings.SettingsPager.FirstPageButton.Visible = true;
                settings.SettingsPager.LastPageButton.Visible = true;
                settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()