﻿@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "ItemCategoryGridView";
        settings.CallbackRouteValues = new { Controller = "ItemCategory", Action = "ItemCategoryGridViewPartial" };
        settings.ControlStyle.Font.Size = 10;
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "ItemCategory", Action = "ItemCategoryGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "ItemCategory", Action = "ItemCategoryGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "ItemCategory", Action = "ItemCategoryGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm; //EditFormAndDisplayRow;
        settings.SettingsPopup.EditForm.Modal = true;
        settings.SettingsPopup.EditForm.Width = 300;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.ResizingMode = ResizingMode.Postponed;
        //settings.SettingsPopup.EditForm.AllowResize = false;

        settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;
        settings.CommandColumn.Width = Unit.Pixel(120);

        settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;

        settings.SettingsText.PopupEditFormCaption = "Create / Edit Item Category";

        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = Unit.Percentage(90);
        settings.Height = Unit.Percentage(90);

        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.ColorTranslator.FromHtml("#D0D0DE"); //"#f3f3f3"
        settings.Styles.SelectedRow.BackColor = System.Drawing.Color.LightCyan;

        settings.Caption = "Item Category List";

        settings.CommandColumn.Visible = true;
        //settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        // Single New botton on command header
        settings.CommandColumn.SetHeaderTemplateContent(c =>
        {
            Html.DevExpress().HyperLink(hyperLinkSettings =>
            {
                hyperLinkSettings.Name = "link_" + settings.Name;
                hyperLinkSettings.Properties.Text = "New";
                hyperLinkSettings.NavigateUrl = "javascript:void(0);";
                hyperLinkSettings.Properties.ClientSideEvents.Click = string.Format(@"
                            function(s, e)
                            {{
                                {0}.AddNewRow();
                            }}
                        ", settings.Name);
            }).Render();
        });

        settings.KeyFieldName = "ItemCategoryID";

        settings.SettingsSearchPanel.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.Settings.ShowHeaderFilterButton = true;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;

        settings.Settings.ShowFilterRow = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        //settings.Columns.Add("Category_Name","Category Name").EditFormSettings.VisibleIndex = 1;

        settings.Columns.Add(column => 
        {
            column.FieldName = "CategoryName";
            column.Caption = "Category Name";
            column.EditFormSettings.VisibleIndex = 1;
            column.Width = 200;
        });        
        //settings.Columns.Add("IsActive").Visible = false;

        //settings.Columns.Add("IsActive").EditFormSettings.VisibleIndex = 2;
        //settings.Columns.Add("LastName").EditFormSettings.VisibleIndex = 3;
        //settings.Columns.Add(column =>
        //{
        //    column.FieldName = "Time_Stamp";
        //    column.EditFormSettings.VisibleIndex = 3;
        //    column.ColumnType = MVCxGridViewColumnType.DateEdit;
        //    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        //});       

        foreach (GridViewDataColumn column in settings.Columns)
            column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
        //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()