@model HeaderViewRenderMode

@*@if(Model == HeaderViewRenderMode.Title) {
    <div class="templateTitle">
        @Html.ActionLink("Smart Taxi System", "Index", "Home")
    </div>
} else { 
    if(Model == HeaderViewRenderMode.Full) { 
        <div class="headerTop">
            <div class="templateTitle">
                @Html.ActionLink("Smart Taxi System", "Index", "Home")
            </div>
            <div class="loginControl">
                @Html.Partial("LogOnPartialView")
            </div>
        </div>
    }*@

    @*<div class="headerMenu">
    @* DXCOMMENT: Configure the header menu @
    @Html.DevExpress().Menu(settings => {
        settings.Name = "HeaderMenu";
        settings.ItemAutoWidth = false;
        settings.ControlStyle.CssClass = "headerMenu";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Items.Add("Item 1");
        settings.Items.Add("Item 2");
        settings.Items.Add("Item 3");
        settings.Items.Add("Item 4");
    }).GetHtml()
    </div>
}*@

<!-- Latest compiled and minified CSS -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">*@
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>*@
<script src="~/Content/bootstrap.min.js"></script>

<body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Smart Taxi System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            @if (Session["loggedInUser"] != null)
            {
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>*@
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome <b>@Session["loggedInUser"]</b></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="social-buttons">
                                                <!--<a href="#" class="btn btn-fb">Change Password</a>
                                                <a href="#" class="btn btn-tw">LogOut</a>-->
                                                @Html.ActionLink("Change Password", "ChangePassword", "Account")
                                            </div>
                                            <div class="social-buttons">
                                                @Html.ActionLink("Logout", "LogOff", "Account")
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            }
        </div><!-- /.container-fluid -->
    </nav>
</body>

<style type="text/css">
    body {
        /*background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');*/
        padding: 50px;
    }

    #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        overflow: hidden;
        background-color: rgba(255,255,255,.8);
    }

        #login-dp .help-block {
            font-size: 12px;
        }

        #login-dp .bottom {
            background-color: rgba(255,255,255,.8);
            border-top: 1px solid #ddd;
            clear: both;
            padding: 14px;
        }

        #login-dp .social-buttons {
            margin: 12px 0;
        }

            #login-dp .social-buttons a {
                width: 49%;
            }

        #login-dp .form-group {
            margin-bottom: 10px;
        }

    .btn-fb {
        color: #fff;
        background-color: #3b5998;
    }

        .btn-fb:hover {
            color: #fff;
            background-color: #496ebc;
        }

    .btn-tw {
        color: #fff;
        background-color: #55acee;
    }

        .btn-tw:hover {
            color: #fff;
            background-color: #59b5fa;
        }

    /*media(max-width:768px) {
        #login-dp {
            background-color: inherit;
            color: #fff;
        }

            #login-dp .bottom {
                background-color: inherit;
                border-top: 0 none;
            }
    }*/
</style>

<script type="text/javascript">
    $(function () {
        $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                    $(this).toggleClass('close');
                    //$('b', this).toggleClass("caret caret-up");
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                    //$(this).toggleClass('open');
                    //$('b', this).toggleClass("caret caret-up");
                });
    });
</script>