@*@if(!Request.IsAuthenticated) {
        @Html.ActionLink("Register", "Register", "Account")
        @: |
        @Html.ActionLink("Login", "Login", "Account")
    }
    else*@
@if (Session["loggedInUser"] != null)
{
    @*@: Welcome <b>@User.Identity.Name</b>!*@
    @: Welcome <b>@Session["loggedInUser"]</b>!
    
    @: |
    @Html.ActionLink("Logout", "LogOff", "Home")
}