﻿@model SmartTaxiSystem.Models.Customer

@*@model SmartTaxiSystem.Models.Customer

    @Html.DevExpress().FormLayout(settings => {
        settings.Width = Unit.Percentage(60);
        settings.Name = "cusomterLayout";
        settings.Items.AddGroupItem(groupSetting => {
            groupSetting.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            groupSetting.Caption = "Customer Details";
            groupSetting.Items.Add(m => {
                m.Caption = "";
            })
            .SetNestedContent(() => {
                ViewContext.Writer.Write("<table><tr><td style=\"padding-right:5px;\">");
                Html.DevExpress().LabelFor(m => m.CallerID).Render();
                Html.DevExpress().TextBoxFor(i => i.CallerID, s =>
                {
                    s.Width = 170;
                    s.ShowModelErrors = true;
                    s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                    s.Properties.ValidationSettings.Display = Display.Dynamic;
                    s.Properties.ValidationSettings.ErrorText = "*";
                }).Render();
                ViewContext.Writer.Write("</td><td>&nbsp;</td><td>");
                Html.DevExpress().LabelFor(m => m.CustomerName).Render();
                Html.DevExpress().TextBoxFor(i => i.CustomerName, s =>
                {
                    s.Width = 170;
                    s.ShowModelErrors = true;
                    s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                    s.Properties.ValidationSettings.Display = Display.Dynamic;
                    s.Properties.ValidationSettings.ErrorText = "*";
                }).Render();
                ViewContext.Writer.Write("</td><td>&nbsp;</td><td>&nbsp;</td><td>");
                Html.DevExpress().LabelFor(m => m.CustomerType).Render();
                Html.DevExpress().ComboBoxFor(i => i.CustomerType, s =>
                {
                    s.Width = 170;
                    //s.ShowModelErrors = true;
                    //s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                    //s.Properties.ValidationSettings.Display = Display.Dynamic;
                    //s.Properties.ValidationSettings.ErrorText = "*";

                    s.SelectedIndex = 0;
                    s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    s.Properties.DropDownStyle = DropDownStyle.DropDown;
                    s.Properties.TextField = "CustomerType";
                    s.Properties.ValueField = "Descr";

                }).Render();
                ViewContext.Writer.Write("</td></tr></table>");
            });
            //groupSetting.Items.Add(m => m.CallerID);
            //groupSetting.Items.Add(m => m.CustomerName);
        });
    }).GetHtml()*@

@Html.DevExpress().FormLayout(settings => {
    settings.Name = "Customer Details";
    settings.ColCount = 3;
    //settings.Width = Unit.Percentage(60);

    settings.Items.AddGroupItem(cus => {
        cus.Caption = "Customer Details";
        cus.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        cus.ColCount = 3;
        cus.Items.Add(m => m.CallerID);
        cus.Items.Add(m => m.CustomerName);
        cus.Items.Add(m => m.CustomerType, i =>
        {
            i.NestedExtension().ComboBox(s =>
            {
                s.Width = Unit.Pixel(170);
                s.Properties.DataSource = SmartTaxiSystem.Models.CustomerType.GetCustomerTypes();
                s.Properties.TextField = "Descr";
                s.Properties.ValueField = "CustomerTypeID";
                s.Properties.ValueType = typeof(int);
            });
        });
    });
    
}).GetHtml()