﻿@model SmartTaxiSystem.Models.BookingPickupDrop

@Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "Pickup Drop Details";
    settings.ColCount = 2;

    settings.Items.AddGroupItem(booking =>
    {
        booking.Caption = "Pickup Drop Details";
        booking.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        booking.ColCount = 2;
        booking.Items.Add(m => m.PickupMainArea, i =>
        {
            i.NestedExtension().ComboBox(s =>
            {
                s.Width = Unit.Pixel(170);
                s.Properties.DataSource = SmartTaxiSystem.Models.MainArea.GetMainAreas();
                s.Properties.TextField = "MainAreaName";
                s.Properties.ValueField = "MainAreaID";
                s.Properties.ValueType = typeof(int);
            });
        });
        booking.Items.Add(m => m.DropMainArea, i =>
        {
            i.NestedExtension().ComboBox(s =>
            {
                s.Width = Unit.Pixel(170);
                s.Properties.DataSource = SmartTaxiSystem.Models.MainArea.GetMainAreas();
                s.Properties.TextField = "MainAreaName";
                s.Properties.ValueField = "MainAreaID";
                s.Properties.ValueType = typeof(int);
            });
        });

        booking.Items.Add(m => m.PickupSubArea, i =>
        {
            i.NestedExtension().ComboBox(s =>
            {
                s.Width = Unit.Pixel(170);
                s.Properties.DataSource = SmartTaxiSystem.Models.SubArea.GetSubAreas();
                s.Properties.TextField = "SubAreaName";
                s.Properties.ValueField = "SubAreaID";
                s.Properties.ValueType = typeof(int);
            });
        });
        booking.Items.Add(m => m.DropSubArea, i => {
            i.NestedExtension().ComboBox(s => {
                s.Width = Unit.Pixel(170);
                s.Properties.DataSource = SmartTaxiSystem.Models.SubArea.GetSubAreas();
                s.Properties.TextField = "SubAreaName";
                s.Properties.ValueField = "SubAreaID";
                s.Properties.ValueType = typeof(int);
            });
        });

        booking.Items.Add(m => m.PickupAddress, i => {
            //i.HelpText = "Pickup Address";
            i.NestedExtension().Memo(s =>
            {
                s.Height = 60;
                s.Width = Unit.Pixel(170);
            });
        });
        booking.Items.Add(m => m.DropAddress, i => {
            i.NestedExtension().Memo(s =>
            {
                s.Height = 60;
                s.Width = Unit.Pixel(170);
            });
        });
        
    });

}).GetHtml()

<table>
    <tr>
        <td width="290" align="right">
            @Html.DevExpress().Button(b =>
            {
                b.Name = "AddPickup";
                b.Text = "Add Pickup";
            }).GetHtml()
        </td>
        <td width="270" align="right">
            @Html.DevExpress().Button(b =>
            {
                b.Name = "AddDrop";
                b.Text = "Add Drop";
            }).GetHtml()
        </td>
    </tr>
</table>