﻿@{
    ViewBag.Title = "Booking";
}

<div style="margin-left: 12px;"><h2>Booking</h2></div>
@*taxi booking*@
@Html.Partial("_CustomerDetailsPartialView")
@Html.Partial("_BookingDetailsPartialView")
@Html.Partial("_PickupDropDetailsPartialView")