﻿.dxgvTitlePanel_Metropolis, .dxgvTable_Metropolis caption {
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: left;
    color: #FF8800;
    border-bottom: 1px Solid #c0c0c0;
}
.dxpnlControl_Metropolis.dxpnl-edge, .dxpnlControl_Metropolis.dxpnl-edge.dxpnl-bar {
    background-color: #D3D8E8;
}
.dxpnlControl_Metropolis.dxpnl-edge, .dxpnlControl_Metropolis.dxpnl-edge .dxpnl-scc, .dxpnlControl_Metropolis.dxpnl-bar {
    padding: 0px;
    background-color: white;
}
.panel {
    margin-bottom: 0px;
    margin-top: 40px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    height: 0px;
}