@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "CustomerTypeGridView";
        settings.CallbackRouteValues = new { Controller = "CustomerType", Action = "CustomerTypeGridViewPartial" };
        settings.ControlStyle.Font.Size = 10;
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "CustomerType", Action = "CustomerTypeGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "CustomerType", Action = "CustomerTypeGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "CustomerType", Action = "CustomerTypeGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsPopup.EditForm.Modal = true;
        settings.SettingsPopup.EditForm.Width = 600;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.ResizingMode = ResizingMode.Postponed;

        settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;
        settings.CommandColumn.Width = Unit.Pixel(120);

        settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;

        settings.SettingsText.PopupEditFormCaption = "Create / Edit Customer Type";
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = Unit.Percentage(90);
        settings.Height = Unit.Percentage(90);

        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.ColorTranslator.FromHtml("#D0D0DE"); //"#f3f3f3"
        settings.Styles.SelectedRow.BackColor = System.Drawing.Color.LightCyan;

        settings.Caption = "Customer Type List";
        
		settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        // Single New botton on command header
        settings.CommandColumn.SetHeaderTemplateContent(c =>
        {
            Html.DevExpress().HyperLink(hyperLinkSettings =>
            {
                hyperLinkSettings.Name = "link_" + settings.Name;
                hyperLinkSettings.Properties.Text = "New";
                hyperLinkSettings.NavigateUrl = "javascript:void(0);";
                hyperLinkSettings.Properties.ClientSideEvents.Click = string.Format(@"
                            function(s, e)
                            {{
                                {0}.AddNewRow();
                            }}
                        ", settings.Name);
            }).Render();
        });
        
		settings.KeyFieldName = "CustomerTypeID";
        
        settings.SettingsSearchPanel.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.Settings.ShowHeaderFilterButton = true;
        
		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = false;
		settings.Settings.ShowFilterRow = false;
		settings.SettingsBehavior.AllowSelectByRowClick = true;

				settings.Columns.Add("Descr");
                settings.Columns.Add("CreatedBy");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "CreatedTime";
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    (column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
                });		
                settings.Columns.Add("UpdateDetailsUpdatedBy");
                settings.Columns.Add(column =>
                {
                    column.FieldName = "UpdateDetailsUpdatedTime";
                    column.ColumnType = MVCxGridViewColumnType.DateEdit;
                    (column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
                    column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
                });

                foreach (GridViewDataColumn column in settings.Columns)
                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

                settings.SettingsPager.Position = PagerPosition.Bottom;
                settings.SettingsPager.PageSizeItemSettings.Visible = true;
                settings.SettingsPager.FirstPageButton.Visible = true;
                settings.SettingsPager.LastPageButton.Visible = true;
                settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
        
			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()